# Dependencies
node_modules/
.yarn/

# Build outputs
lib/
dist/
build/
android/build/
ios/build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Testing
coverage/
*.log

# Environment
.env
.env.local

# React Native
*.hprof
.gradle/
local.properties
*.iml
.expo/

# iOS
ios/Pods/
*.xcworkspace
*.xcuserdata

# Android
*.apk
*.aab