# Dependencies
node_modules/

# Build output
lib/

# Android build
android/build/
android/.gradle/

# Example app
example/node_modules/
example/android/build/
example/android/.gradle/
example/android/app/build/
example/ios/Pods/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# npm
*.tgz

# Debug logs
*.log
